<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Temperature & Incident Light Vs Energy Output Characteristics of Photovoltaic Cell</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.js"></script>
</head>
		<style>
			h4 {
				font-family: Arial, sans-serif;
				color: #1900ff;
				text-align: Center;
				font-variant: small-caps;
			}
			p {
				font-family: Arial, sans-serif;
				font-size: 16px;
				text-align: Left;
				color: #1900ff;
				font-weight: bold;
			}
		</style>

		<h4>Temperature And Incident Light <br /> Vs <br /> Energy Output Characteristics of Photovoltaic Cell</h4>
		<p><br /> <br /> <br /> <br /> Please choose data file (*.csv)</p>

<body>
      <input type="file" name="file" id="fileInput" class="file" accept=".csv" />

   <canvas id="myChart" width="400" height="200"></canvas>
  <canvas id="myChart"></canvas>
  <script src="/static/js/script_barline.js"></script>
</body>
</html>